body {
  width: 100%;
  margin: 0 auto;
  padding:0;
  font-family: "lato";
  color: #3c5663;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 50px;
}

h2 {
  font-size: 60px;
  font-family: "audiowide";
}

/* HEADER */

header {
  width: 100%;
  height: 750px;
}

/* MENU NAVEGACION */

.nav-menu {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
}

img.logo {
  width: 50%;
  max-width: 150px;
}
ul.menu {
  margin: auto 0;
}

.menu li {
  display: inline;
  margin-left: 30px;
}

.menu li a {
  text-decoration: none;
  font-size: 20px;
  color: #729ba1;
}

.menu li a:hover {
  border-bottom: 2px solid #8f6087;
}

.menu li a:active {
  border-bottom: 2px solid #8f6087;
  color:#8f6087;
}

/* BACKGROUND HEADER */

.background {
  background-image: url(https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg)
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 750px;
}
h1.name {
  margin: 300px;
  font-family: "audiowide";
  font-size: 80px;
}

/* CONTENIDO WEB */

#content {
  background-color: white;
  padding: 0;
}

/* APARTADO NOSOTRAS */

.photo_group {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* APARTADO EQUIPO */

.box_photo {
  width: 300px;
  margin: 25px 0;
}

.box_photo img {
  width: 100%;
  border-radius: 10px;
}
