.roles{
  display: flex;
  font-family: fantasy;
  font-size: 14px;
  max-width: 1024px;
  width: 100%;
  flex-wrap: wrap-reverse;
  justify-content: center;

}
.rol{
  display: flex;
  /*border: 1px solid black; */
  width: 33%;
  align-content: flex-start;


}
.icono{
  background-image: url(http://images6.fanpop.com/image/photos/32700000/Erza-erza-scarlet-32704654-100-100.jpg);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  max-width: 95%;
}
.texto{
  /*border: 1px solid pink; */

  max-width: 70%;


}
